[Unit]
Description=gert daemon
After=network-online.target

[Service]

# Run as gert:gert
User=gert
ExecStart=/home/gert/go/bin/kvd start
Restart=on-failure
RestartSec=3
LimitNOFILE=4096

[Install]
WantedBy=multi-user.target